#hero {
    margin: 6rem auto 1.5rem; max-width: 70rem;

    h1 {
        text-align: center; font-size: 24px; font-weight: 600; margin-bottom: 2rem;
    }
}

.custom-container {
    margin: 6rem auto 1.5rem;
}

.custom-container a.card {
    max-width: 320px;
}